.equipos-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  margin-top: 90px;
}

.equipos-title {
  text-align: center;
  margin-bottom: 2rem;
}

.equipos-list-vertical {
  display: flex;
  justify-content: center;
}

.equipos-list-vertical-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
  row-gap: 2rem;
  max-width: 1100px;
}

@media (max-width: 900px) {
  .equipos-list-vertical-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .equipos-page-container {
    padding: 1rem 0.2rem;
  }
  .equipos-list-vertical-inner {
    grid-template-columns: 1fr;
  }
}
